/bootfs/
/packages/
/installer.cpio*
/raspbian-ua-netinst-*.zip
/raspbian-ua-netinst-*.img
/raspbian-ua-netinst-*.img.xz
/raspbian-ua-netinst-*.img.bz2
installer-config.txt

# Ignore backup files created by gedit
*~
